{% extends 'testpwp/basenav.html' %}
{% load staticfiles %}
<!-- <html>
<head>
<link rel="stylesheet" href="https://www.cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<meta charset=utf-8 />
<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script> 
<title>Profiling</title>
<style type="text/css">
  .morris-hover {
    position:absolute;
    z-index:1000;
  }

  .morris-hover.morris-default-style {     border-radius:10px;
    padding:6px;
    color:#666;
    background:rgba(255, 255, 255, 0.8);
    border:solid 2px rgba(230, 230, 230, 0.8);
    font-family:sans-serif;
    font-size:12px;
    text-align:center;
  }

  .morris-hover.morris-default-style .morris-hover-row-label {
    font-weight:bold;
    margin:0.25em 0;
  }

  .morris-hover.morris-default-style .morris-hover-point {
    white-space:nowrap;
    margin:0.1em 0;
  }

  svg { width: 100%; }
</style>
</head>
<body>
  <section class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div id="bar-chart"></div>
      </div>
      <br><hr><br>
      <div class="col-md-4">
        <div id="donut-chart"></div>
      </div>
      <br><hr><br>
      <!-- <div class="col-md-8">
        <div id="line-chart"></div>
      </div>
      <br><hr><br>
      <div class="col-md-8">
        <div id="area-chart"></div>
      </div> 
      <div class="col-md-8">
        <div id="line-chart2"></div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
    $(document).ready(function() {
      barChart();
      // lineChart();
      // areaChart();
      donutChart();
      lineChart2();
      $(window).resize(function() {
        window.barChart.redraw();
        // window.lineChart.redraw();
        // window.areaChart.redraw();
        window.donutChart.redraw();
        // window.lineChart2.redraw();
      });
    });
    var count = {{count|safe}};
    console.log(count);
    var count_per = {{count_per|safe}};
    console.log(count_per);
    var dom_class = {{dom_class|safe}};
    console.log(dom_class)
    var gt_40 = {{gt_40|safe}};
    console.log(gt_40)
    var count_individual = {{ count_individual|safe }};
    console.log(count_individual)
    function barChart() {
      window.barChart = Morris.Bar({
        element: 'bar-chart',
        data: [
          { y: 'Kurkure', a: count[1]},
          { y: 'Pepsi', a: count[4]},
          { y: 'Coca-Cola', a: count[7]},
          { y: 'Plastic', a: count[0]},
          { y: 'Wrapper', a: count[2]},
          { y: 'Bottle', a: count[3]},
          { y: 'Bisleri', a: count[5]}
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Count'],
        lineColors: ['#1e88e5'],
        lineWidth: '3px',
        resize: true,
        redraw: true
      });
    }

    function lineChart() {
      window.lineChart = Morris.Line({
        element: 'line-chart',
        data: [
          { y: '2006', a: 100, b: 90 },
          { y: '2007', a: 75,  b: 65 },
          { y: '2008', a: 50,  b: 40 },
          { y: '2009', a: 75,  b: 65 },
          { y: '2010', a: 50,  b: 40 },
          { y: '2011', a: 75,  b: 65 },
          { y: '2012', a: 100, b: 90 }
        ],
        xkey: 'y',
        ykeys: ['a', 'b'],
        labels: ['Series A', 'Series B'],
        lineColors: ['#1e88e5','#ff3321'],
        lineWidth: '3px',
        resize: true,
        redraw: true
      });
    }

    function areaChart() {
      window.areaChart = Morris.Area({
        element: 'area-chart',
        data: [
          { y: '2006', a: 100, b: 90 },
          { y: '2007', a: 75,  b: 65 },
          { y: '2008', a: 50,  b: 40 },
          { y: '2009', a: 75,  b: 65 },
          { y: '2010', a: 50,  b: 40 },
          { y: '2011', a: 75,  b: 65 },
          { y: '2012', a: 100, b: 90 }
        ],
        xkey: 'y',
        ykeys: ['a', 'b'],
        labels: ['Series A', 'Series B'],
        lineColors: ['#1e88e5','#ff3321'],
        lineWidth: '3px',
        resize: true,
        redraw: true
      });
    }

    function donutChart() {
      window.donutChart = Morris.Donut({
      element: 'donut-chart',
      data: [
        {label: "Plastic", value: Math.round(count_per[0])},
        {label: "Kurkure", value: Math.round(count_per[1])},
        {label: "Wrapper", value: Math.round(count_per[2])},
        {label: "Bottle", value: Math.round(count_per[3])},
        {label: "Pepsi", value: Math.round(count_per[4])},
        {label: "Bisleri", value: Math.round(count_per[5])},
        {label: "Bailey", value: Math.round(count_per[6])},
        {label: "Coca-Cola", value: Math.round(count_per[7])}
      ],
      resize: true,
      redraw: true
    });
    }
    function lineChart2() {
      window.lineChart = Morris.Bar({
        element: 'line-chart2',

        data: [
          { y: dom_class[0], a:gt_40[0][0] , b: gt_40[0][1]},
          { y: dom_class[1], a:gt_40[1][0] , b: gt_40[1][1]},
          { y: dom_class[2], a:gt_40[2][0] , b: gt_40[2][1]},
          // { y: '2009', a:gt_40[0][0] , b: gt_40[0][1] },
          // { y: '2010', a:gt_40[0][0] , b: gt_40[0][1] },
          // { y: '2011', a:gt_40[0][0] , b: gt_40[0][1] },
          // { y: '2012', a:gt_40[0][0] , b: gt_40[0][1] }
        ],
        xkey: 'y',
        ykeys: ['a', 'b'],
        labels: ['Most Contribution', '2nd most contribution'],
        lineColors: ['#1e88e5','#ff3321'],
        lineWidth: '3px',
        resize: true,
        redraw: true
      });
    }
  </script>
</body>
</html>
 -->
 {% block content %}
 <!DOCTYPE html>
 <html>
 <head>
   <title>Profiling</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
 </head>
 <body>
  <br><br><br><br>
  <div class="container-fluid">
    <div class="row" style="float: none;margin-left: auto;margin-right: auto;>
      <div class="col-sm-9 col-md-8 col-lg-2 col-xl-12">
        <canvas id="bar-chart"></canvas>
      </div>
    </div>
    <br><hr>
    <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5" style="float: none;margin-left: auto;margin-right: auto;">
        <canvas id="pie-chart"></canvas>
      </div>
    </div>
    <br><hr>
    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10" style="float: none;margin-left: auto;margin-right: auto;">
        <canvas id="bar-chart-grouped"></canvas>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    // var data_contri = {{ average_contributions|safe }};
    // var data_count = {{ total_counts|safe }};
    // // var data_ipw = {{ individual_pw|safe }};
    // // console.log( data_ipw );
    // // console.log(data);
    // var i_p = {{ individual_p|safe }};
    // var i_w = {{ individual_w|safe }};
    // console.log(i_w);
    new Chart(document.getElementById("bar-chart"), {
        type: 'horizontalBar',
        data: {
          labels: ["Plastic", "Wrapper", "Kurkure", "Too_Yumm", "Bisleri"],
          datasets: [
            {
              label: "Total (Counts)",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
              data: [92,85,87,65,73]
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'Major Contributions'
          }
        }
    });
    new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
          labels: ["Plastic", "Wrapper", "Kurkure", "Too_Yumm", "Bisleri"],
          datasets: [{
            label: "Total Counts",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [12,10,5,7,14]
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Frequency'
          }
        }
    });
    new Chart(document.getElementById("bar-chart-grouped"), {
        type: 'bar',
        data: {
          labels: ["image1", "image2", "image3", "image4"],
          datasets: [
            {
              label: "Plastic",
              backgroundColor: "#3e95cd",
              data: [3,4,2,3]
            }, {
              label: "Wrapper",
              backgroundColor: "#8e5ea2",
              data: [6,2,4,7]
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Population growth (millions)'
          },
          scales: {
                  yAxes: [{
                      display: true,
                      ticks: {
                          suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                          // OR //
                          beginAtZero: true   // minimum value will be 0.
                      }
                  }]
              }
        }

    });
  </script>
 </body>
 </html>
 {% endblock %}